/*
Verde: #009688;
*/

* {
    padding: 0;
    box-sizing: content-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

.cv-main {
    padding: 15px;
    background-color: #f1f1f1;
}

.cv-main > div > section, .cv-main > aside {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2), -2px -2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 15px;
}

.fa {
    color: #009688;
    margin-right: 10px;
    font-size: 18px;
}

#me > section:not(:first-child) {
    padding: 10px 15px 5px;
}

.me-picture img {
    width: 100%;
}

.me-contact ul {
    list-style-type: none;
    margin-bottom: 0;
}

.me-contact li, .me-contact li a {
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 400;
    color: #757575;
    text-decoration: none;
}

.me-picture h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin-top: -50px;
    margin-bottom: 30px;
    padding-left: 15px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.progress-bar {
    color: #000000;
    background-color: #f1f1f1;
    font-size: 12px;
    border-radius: 16px;
    width: 100%;
    margin-top: 5px;
    height: 20px;
    margin-bottom: 15px;
}

.interior-pb {
    border-radius: 16px;
    color: #fff;
    text-align: center;
    background-color: #009688;
    height: 20px;
    line-height: 22px;
}

p {
    font-size: 15px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 20px;
}

.cv-main > div > section{
    padding: 15px;
}

h2.title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.3;
}

.title i {
    font-size: 35px;
}

.txt-block {
    padding: 20px;
}

.txt-block .subtitle {
    margin-bottom: 15px;
    line-height: 1.4;
}

.txt-block h5 {
    margin-bottom: 15px;
    line-height: 1;
    font-size: 16px;
    color: #009688;
    font-weight: 400;
}

.txt-block h5 span {
    line-height: 1;
    background-color: #009688;
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 5px;
}

.txt-block p {
    line-height: 1.4;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
}

footer {
    background: #009688;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer p, footer a {
    color: #ffffff;
}

.social {
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social li .fa {
    color: #ffffff;
    margin-right: 2px;
    font-size: 14px;
}

.social li {
    display: inline-flex;
}

/* Desktop */

@media only screen and (min-width: 420px) {
    .cv-main {
        display: flex;
    }
    #me {
        width: 50%;
        height: fit-content;
    }
    .cv-main {
        padding: 25px;
    }
    .cv-main > div > section {
        margin-left: 20px;
    }
  }